@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

:root {
  --navItemBackgroundColor: rgb(245, 211, 117);
  --navItemTextColor: rgb(105, 105, 105);
  --headerTextShadow: rgb(206, 204, 200);
  --headerTextColor: rgb(22, 21, 21);
}

#navMenu {
  font-size: 1.35rem;
  font-weight: bolder;
}

#navItem:hover {
  background-color: var(--navItemBackgroundColor);
  color: var(--navItemTextColor);
}

body h1 {
  font-family: "Sofia", cursive;
  font-size: 4rem;
  text-shadow: 3px 3px 3px var(--headerTextShadow);
  width: 100px;
  color: var(--headerTextColor);
}

#tagLine {
  font-family: "Happy Monkey", cursive;
  font-size: 1.5rem;
  padding: 50px;
}

#frontCover {
  padding: 50px;
}
