@import url("https://fonts.googleapis.com/css?family=Sofia");
@import url("https://fonts.googleapis.com/css2?family=Happy+Monkey&display=swap");

:root {
  --navItemBackgroundColor: rgb(245, 211, 117);
  --navItemTextColor: rgb(105, 105, 105);
  --headerTextShadow: rgb(206, 204, 200);
  --headerTextColor: rgb(22, 21, 21);
}

#navMenu {
  font-size: 1.35rem;
  font-weight: bolder;
}

#navItem:hover {
  background-color: var(--navItemBackgroundColor);
  color: var(--navItemTextColor);
}

h1,
h2 {
  font-family: "Sofia", cursive;
  font-size: 4rem;
  text-shadow: 3px 3px 3px var(--headerTextShadow);
  width: auto;
  color: var(--headerTextColor);
  padding: 20px;
}

h2 {
  font-size: 2rem;
  text-align: center;
}

#tagLine,
#storyList {
  font-family: "Happy Monkey", cursive;
  font-size: 1.5rem;
  padding: 50px;
}

#frontCover {
  padding: 50px;
}

#loginHeader {
  color: var(--headerTextColor);
  font-family: "Happy Monkey", cursive;
  text-align: center;
  padding: 20px;
  font-size: 1.5rem;
}

#btnSubmit {
  background-color: var(--navItemBackgroundColor);
  color: var(--navItemTextColor);
  font-family: "Happy Monkey", cursive;
}

#btnCancel {
  background-color: var(--navItemTextColor);
  color: var(--navItemBackgroundColor);
  font-family: "Happy Monkey", cursive;
}

#btnDelete {
  background-color: rgb(228, 52, 52);
  color: var(--navItemBackgroundColor);
  font-family: "Happy Monkey", cursive;
}

#msg {
  color: var(--headerTextColor);
}

#errorMsg {
  margin-top: 20px;
  padding: 10px;
  font-size: 1.5rem;
  color: var(--navItemBackgroundColor);
  background-color: var(--navItemTextColor);
}

#storyList {
  padding: 20px;
}

#selectStyle {
  font-family: "Happy Monkey", cursive;
  padding: 30px;
  font-size: 1.2rem;
}

#pageContent {
  display: flex;
  flex-direction: row;
}

#pContent {
  font-family: "Happy Monkey", cursive;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 50px;
}

/* #pageLink {
  font-family: "Happy Monkey", cursive;
  font-size: 1.3rem;
  font-weight: bolder;
} */

 #pageDesc{
  padding-left: 20px;
  font-size: 1rem;
} 